.shiny-text {
    color: transparent;
    background-image: linear-gradient(
        120deg,
        #7c3aed 0%,
        #7c3aed 40%,
        #d8b4fe 50%,
        #7c3aed 60%,
        #7c3aed 100%
    );
    background-size: 200% 100%;
    background-clip: text;
    -webkit-background-clip: text;
    display: inline-block;
    animation: shine 5s linear infinite;
}

@keyframes shine {
    0% {
        background-position: 100%;
    }
    100% {
        background-position: -100%;
    }
}

.shiny-text.disabled {
    animation: none;
}
