.dot-grid,
.dot-grid__wrap {
    position: relative;
}
.dot-grid,
.dot-grid__canvas,
.dot-grid__wrap {
    width: 100%;
    height: 100%;
}
.dot-grid {
    display: flex;
    align-items: center;
    justify-content: center;
}
.dot-grid__canvas {
    position: absolute;
    inset: 0;
    pointer-events: none;
}
