.scroll-down-btn {
    position: absolute;
    bottom: 0;
    align-self: center;
    cursor: pointer;
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: 0.3s 1.6s forwards appear, 2s infinite scroll-anim;
    transition: 0.2s;
    scale: 0.8;
    color: #848484;
}
.scroll-down-btn:hover {
    scale: 1;
    color: var(--light);
}
.scroll-down-btn > svg > path {
    transition: 0.2s;
    stroke: #848484;
}
.scroll-down-btn:hover > svg > path {
    stroke: var(--light);
}
@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes scroll-anim {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px);
    }
}
@media screen and (max-height: 750px) {
    @media screen and (max-width: 750px) {
        .scroll-down-btn {
            scale: 0.7;
        }
        .scroll-down-btn:hover {
            scale: 0.9;
        }
    }
}
