.cta-1:hover,
.cta-2:hover {
    scale: 1.05;
    background-color: transparent;
}
.cta-1,
.cta-2 {
    display: flex;
    color: var(--dark);
    font-size: 1rem;
    font-weight: 800;
    background-color: var(--primary);
    border-radius: 2rem;
    border: 2px solid var(--primary);
    padding: 1rem 1.5rem;
    width: fit-content;
    cursor: pointer;
    gap: 0.5rem;
    align-items: center;
    text-decoration: none;
}
.cta-1,
.cta-2:hover {
    color: var(--light);
}
.cta-1,
.cta-1 > svg,
.cta-2,
.cta-2 > svg {
    transition: 0.2s;
}
.cta-1:hover {
    color: var(--primary);
}
.cta-1:hover > svg {
    scale: 1.2;
}
.cta-1:hover > svg > path {
    fill: var(--primary);
}
.cta-2 {
    border-color: var(--light);
    background-color: var(--light);
    color: var(--darker);
}
.cta-2:hover > svg {
    filter: invert(1);
    scale: 1.2;
}
