.projects-section {
    min-height: inherit;
    width: 100%;
    color: var(--background-color);
    background-color: var(--text-color);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    box-sizing: border-box;
}

.projects-header {
    height: fit-content;
    font-family: "Raleway", Avenir, Helvetica, Arial, sans-serif;
    font-size: 2rem;
    font-weight: 900;
}

.project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    min-height: 320px;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding: 1rem 2rem;
}
