.projects-section {
    min-height: inherit;
    width: 100%;
    color: var(--dark);
    background-color: var(--light);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    box-sizing: border-box;
}

.projects-header {
    height: fit-content;
    font-family: "Raleway", Avenir, Helvetica, Arial, sans-serif;
    font-size: 2rem;
    font-weight: 900;
}

.project-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    min-height: 320px;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding: 1rem 2rem;
}

@media screen and (max-width: 640px) {
    .projects-section,
    .project-container {
        padding-left: 0;
        padding-right: 0;
    }
}
