:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(31, 28, 28, 0.87);
    background-color: var(--background-color);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --text-color: rgb(228, 228, 228);
    --background-color: #1b1b1b;

    --hover-text-color: #944bbb;
}

body {
    margin: 0;
    box-sizing: border-box;
    min-height: 100vh;
    min-width: 320px;
}

h1 {
    font-size: 3.2em;
}

@keyframes bounce {
    0% {
        scale: 1;
    }
    50% {
        scale: 1.05;
    }
    100% {
        scale: 1;
    }
}
