.skills-section {
    min-height: inherit;
    width: 100%;
    color: var(--background-color);
    background-color: var(--text-color);
    position: relative;
    display: flex;
    justify-content: center;
    padding: 2rem;
    box-sizing: border-box;
}
