.aboutme-section {
    min-height: inherit;
    width: 100%;
    color: var(--dark);
    background-color: var(--light);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    box-sizing: border-box;
}

.aboutme-header {
    height: fit-content;
    font-family: var(--header-font);
    font-size: 2rem;
    font-weight: 900;
}

.aboutme-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 0 1rem 2rem;
}

.aboutme-container > img {
    height: 500px;
    width: 400px;
    clip-path: circle(39%);
    object-fit: contain;
    align-self: center;
}

.myinfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: var(--header-font);
    font-size: 1.5rem;
}

@media screen and (max-width: 900px) {
    .aboutme-container {
        flex-direction: column-reverse;
    }
    .myinfo {
        font-size: 1.2rem;
        text-align: center;
    }
}
