.aboutme-section,
.detail,
.icons,
.myinfo,
.pic-container {
    display: flex;
}
.mypic,
.skills-container {
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.5);
}
.aboutme-section {
    min-height: inherit;
    width: 100%;
    color: var(--light);
    background-color: var(--dark);
    position: relative;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    box-sizing: border-box;
}
.aboutme-header {
    height: fit-content;
    font-size: 2rem;
    font-weight: 900;
    margin: 0.5rem 0 0;
}
.aboutme-container,
.skills-container {
    box-sizing: border-box;
    display: flex;
}
.aboutme-subheader {
    font-style: italic;
    color: var(--light-gray);
    margin-top: 0;
}
.aboutme-container {
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    margin-bottom: 1rem;
    padding: 0 1rem;
}
.mypic {
    max-height: 500px;
    max-width: 400px;
    border-radius: 3rem;
    object-fit: contain;
    align-self: center;
}
.myinfo {
    flex-direction: column;
    justify-content: center;
}
.myinfo > h3 {
    font-size: 1.9rem;
    font-weight: 900;
}
.detail {
    align-items: center;
    gap: 0.5rem;
}
.detail > h4 {
    font-size: 1.25rem;
    text-align: left;
    margin: 0.5rem 0;
    color: var(--light);
}
.skills-container {
    width: fit-content;
    border: 2px solid var(--light);
    border-radius: 3rem;
    background-color: var(--darker);
    justify-content: space-evenly;
    padding: 2rem;
    gap: 3rem;
    margin: 1rem 0 2rem;
    position: relative;
}
.skills-title {
    position: absolute;
    top: -25%;
    z-index: 99;
    font-weight: 900;
    background-color: var(--light);
    color: var(--darker);
    padding: 0.5rem 1rem;
    border-radius: 3rem;
}
.skills-container h4 {
    text-align: center;
    color: var(--light);
    margin-top: 0.25rem;
}
.icons {
    gap: 2rem;
    width: 100%;
    border-bottom: 4px solid var(--dark);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding-bottom: 0.5rem;
    justify-content: center;
}
.icons > svg {
    transition: 0.2s;
    cursor: pointer;
}
.icons > svg:hover {
    scale: 1.2;
}
@media screen and (max-width: 900px) {
    .aboutme-container {
        flex-direction: column-reverse;
    }
    .aboutme-subheader {
        margin-bottom: 0;
    }
    .pic-container {
        align-self: center;
        filter: drop-shadow(0px 10px 15px rgba(0, 0, 0, 0.5));
    }
    .myname {
        margin-top: 0;
    }
    .myinfo {
        align-items: center;
        margin-bottom: 1.5rem;
    }
    .detail > h4 {
        font-size: 1.2rem;
    }
    .mypic {
        clip-path: circle(39%);
        aspect-ratio: 1;
    }
}
@media screen and (max-width: 820px) {
    .skills-container {
        padding: 2rem 1rem;
    }
}
@media screen and (max-width: 720px) {
    .skills-container {
        gap: 1rem;
        flex-direction: column;
        padding: 2rem;
    }
    .skills-title {
        top: -7%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .icons {
        gap: 4rem;
        border: 0;
    }
}
@media screen and (max-width: 640px) {
    .aboutme-container {
        padding: 0;
    }
    .mypic {
        height: 420px;
        width: 320px;
    }
    .myinfo > h3 {
        font-size: 1.5rem;
    }
    .detail > h4 {
        font-size: 1rem;
    }
    .icons {
        gap: 3rem;
    }
}
@media screen and (max-width: 480px) {
    .icons {
        gap: 2rem;
    }
}
@media screen and (max-width: 380px) {
    .myinfo > h3 {
        font-size: 1.4rem;
    }
    .detail > h4,
    .skills-container h4 {
        font-size: 0.8rem;
    }
    .skills-container {
        padding: 2rem 1rem;
    }
    .detail > svg {
        scale: 0.7;
    }
    .icons {
        gap: 1rem;
    }
}
